{{template "base" .}}
{{define "content"}}
<h1>This is the about page</h1>
<p>Created by Llama</p>

<p>You can contact me at <strong>{{index .StringMap "email"}}</strong></p>

<p>
  {{if ne (index .StringMap "remote_ip") ""}}
    Your remote IP address is {{index .StringMap "remote_ip"}}
  {{else}}
    I don't know your IP address yet. Visit the <a href="/">Home</a> page.
  {{end}}
</p>
{{end}}